In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('salaries.csv')

In [4]:
df.columns

Index(['company', 'job', 'degree', 'salary_more_then_100k'], dtype='object')

In [5]:
x=df[['company', 'job', 'degree']]

In [6]:
y=df['salary_more_then_100k']

In [7]:
from sklearn.preprocessing import LabelEncoder

In [13]:
comp=LabelEncoder()
jobs=LabelEncoder()
degrees=LabelEncoder()

In [14]:
x['comp']=comp.fit_transform(df['company'])

In [15]:
x['jobs']=jobs.fit_transform(df['job'])

In [16]:
x['degrees']=jobs.fit_transform(df['degree'])

In [17]:
x

       company                  job     degree  comp  jobs  degrees
0       google      sales executive  bachelors     2     2        0
1       google      sales executive    masters     2     2        1
2       google     business manager  bachelors     2     0        0
3       google     business manager    masters     2     0        1
4       google  computer programmer  bachelors     2     1        0
5       google  computer programmer    masters     2     1        1
6   abc pharma      sales executive    masters     0     2        1
7   abc pharma  computer programmer  bachelors     0     1        0
8   abc pharma     business manager  bachelors     0     0        0
9   abc pharma     business manager    masters     0     0        1
10    facebook      sales executive  bachelors     1     2        0
11    facebook      sales executive    masters     1     2        1
12    facebook     business manager  bachelors     1     0        0
13    facebook     business manager    masters     1     0        1
14    facebook  computer programmer  bachelors     1     1        0
15    facebook  computer programmer    masters     1     1        1

In [29]:
x.drop(['company', 'job', 'degree'],axis='columns',inplace=True)

In [30]:
y

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [31]:
from sklearn.tree import DecisionTreeClassifier

In [32]:
model=DecisionTreeClassifier()

In [33]:
from sklearn.model_selection import train_test_split

In [37]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [38]:
model.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [41]:
pred=model.predict(x_test)

In [42]:
from sklearn.metrics import classification_report

In [44]:
model.predict([[2,1,0]])

array([0], dtype=int64)

In [45]:
model.predict([[1,2,1]])

array([1], dtype=int64)